button {
    width: 250px;
    height: 80px;
    font-size: 50px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00471b;
}

.click-button {
    background-color: #09052c;
}

.restart-button {
    background-color: #5a01a7;
}